.BirdNETmap { 
    width: 400px;
    height: 400px; 
    border-radius: 10px;
}

.popup {
    height: 85px;
    width: auto;
    padding: 0px 0px 0px 0px;
}

table, tr, th, td {
    /* border: 1px solid; */
}

.popup-image {
    border-radius: 2px;
    padding: 3px;
}

.name-label {
    font-size: 20px;
}

.species-label {
    font-size: 12px;
}

.confidence { 
    font-size: 14px;
}

/* Override Leaflet defaults */
.leaflet-popup-content {
    margin: 3px 3px;
}